<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.mah.kingdom_v02"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/game_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="se.mah.kingdom_v02.AlarmReceiver" />

        <activity
            android:name="se.mah.kingdom_v02.StoryManager"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.mah.kingdom_v02.Event"
            android:configChanges="orientation"
            android:label="@string/title_activity_wake_up"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" >
        </activity>
        <activity
            android:name="se.mah.kingdom_v02.EventManager"
            android:configChanges="orientation"
            android:label="@string/title_activity_event_manager"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" >
        </activity>

        <service
            android:name="se.mah.kingdom_v02.DecideCall"
            android:enabled="true" >
        </service>

        <activity
            android:name="se.mah.kingdom_v02.DeathEvent"
            android:label="@string/title_activity_death_event" >
        </activity>
        <activity
            android:name="se.mah.kingdom_v02.Coronation"
            android:label="@string/title_activity_coronation" >
        </activity>
        <activity
            android:name="se.mah.kingdom_v02.StartEvent"
            android:label="@string/title_activity_start_event" >
        </activity>
    </application>

</manifest>